torch==2.5.0
pickle  # Pickle is part of the Python standard library, so no version specification needed
timm==1.0.11
pytorch-lightning  # PTL refers to PyTorch Lightning, so specify it as 'pytorch-lightning' without a version if unknown
torchvision==0.20.0
